<html lang="en">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../quiz.css">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Han-r Studios | </title>
</head>

<body>

<div class="sidebar">
	{{sidebar}}
</div>

<div class="body-text">
	<h1></h1>

<ol>
	<li>At FL350 Air Traffic Control (ATC) has reported to the flight crew that the aircraft is +425 feet above assigned altitude. Which statement is true?
		<div class="answer">This represents a gross height error. If the problem is not identified(following a test of all the RVSM related parts/systems per table 1) a waviness inspection check must be performed
		</div></li>
	<li>The GMM used for the FedEx RVSM policy is:
		<div class="answer">6-5-490
		</div></li>
	<li>According to GMM 2-2-201; in order to retain your qualification for RVSM Line Maintenance, the fleet Line...
		<div class="answer">Annually
		</div></li>
	<li>According to AMM 34-10-00-2-0, any incidents of gross height-keeping errors on RVSM status...
		<div class="incorrect">12 hours
		</div></li>
	<li>A 777 FIM procedure identifies a faulted Mode Control Panel(MCP)...
		<div class="answer">Refer to the RVSM SYSTEM COMPONENTSS section in AMM 34-10-00-2...
		</div></li>
	<li>Special MEL 20-01 can be applied for which of the following reasons
		<div class="answer">All of these
		</div></li>
	<li>Your airplane arrives with an Altitude hold problem. You prescribe corrective action, but are not RVSM qualified. Which MELs should be applied?
		<div class="answer">20-01
		</div></li>
	<li>In reference to RVSM, what information is contained in the FedEx form M-3585?
		<div class="answer">The RVSM Components/Maintenance Table 1, which lists the AMM Adjutement...
		</div></li>
	<li>Of the AMM 24-10-00-2, Table 1 components listed below, which cmoponent requires an additional...
		<div class="answer">Static port
		</div></li>
	<li>RVSM separation limits the vertical separation by:
		<div class="answer">1,000 ft
		</div></li>
	<li>What are the benefits to FedEx of flying in RVSM Airspace?
		<div class="answer">Reduces fuel cost, access to preferred ROUTES, reduces labor costs
		</div></li>
	<li>If you are on a 777 aircraft, how could you quickly determine if the have performed RVSM maintenance?
		<div class="answer">Reference the 777 RVSM Components/Maintenance - Table 1 (FedEx form M-3585) located in the Orange AML
		</div></li>
	<li>Which of the following requires an RVSM qualified AMT to return the aircraft to RVSM operation?
		<div class="answer">All of the above
		</div></li>
	<li>Reduced Vertical Separtation Minimum (RVSM) Airspace is in any airspace or route between flight level(FL)___ and FL___.
		<div class="answer">290, 410
		</div></li>
	<li>Refer to AMM 34-10-00-2, 777 RVSM Components/Maintenance - Table 1. How would a Non-RVSM...
		<div class="answer">Troubleshoot using the FIM, replace the component per AMM 34-21-04-4, FACT the discrepancy, Open a new WRI and apply MEL 20-01 due to Non-RVSM AMT performing RVSM maintenance, and dispatch the aircraft
		</div></li>
	
</ol>
</div>

	<div class="bottom">
		<p><a href="https://hanrstudios.com/tests">Back to Tests</a>   |    <a href="https://www.hanrstudios.com">Home</a></p>
	</div>


</body></html>