<html lang="en">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../quiz.css">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Han-r Studios | </title>
</head>

<body>

<div class="sidebar">
	{{ sidebar }}
</div>

<div class="body-text">
	<h1></h1>

<ol>
	<li>A MEL Chapter 20 Special Operations Deferral may not be used for any normal LLM system component discrepancy. The LLM components must be:
		<div class="answer">Deferred under their normal chapter (eighter Chapter 34 or Chapter 22)
		</div></li>
	<li>The chart in AMM Part 2 Chapter 22-00-00-2-0
		<div class="answer">All of these
		</div></li>
	<li>B777 CAT status is:
		<div class="answer">Dependant on the availability of installed airborne equipment, and controlled through the normal Minimum Equipment (MEL) process.
		</div></li>
	<li>Maintenance activeies include:
		<div class="answer">All of these
		</div></li>
	<li>If the pilot has reported unsatisfactory autopilot system operation that is not covered by the FIM:
		<div class="answer">AMM 22-00-00-2 specifies procedure 22-11-00-5, Task 22-11-00-730-801 must be performed
		</div></li>
	<li>If an LLM qualified AMT performs maintenance activities to any of the LLM components listed in AMM 22-00-00-2-0:
		<div class="answer">The associated system test listed in the chart must be run, and must pass
		</div></li>
	<li>If there is no deferral of any LLM required component, and no Chapter 20 deferral of CAT operations:
		<div class="answer">The aircraft is automatically set to CAT III
		</div></li>
	<li>The Thrust Management (Auto-Throttle) function resides in the Airplane Information Management System(AIMS):
		<div class="answer">Core Processor Module (CPM)/Standard which is an LLM component
		</div></li>
	<li>When an MEL is applied to an LLM required component or system:
		<div class="answer">The aircraft is automatically downgraded to the correct CAT status
		</div></li>
	<li>Supplemental testing over and above what is specified in the FIM is:
		<div class="answer">Not Necessary
		</div></li>
	<li>The B777 does not have a comprehensive Autoland test because:
		<div class="answer">The level of monitoring and testing performed in the B777 make a comprehensive test unnecessary
		</div></li>
	<li>The procedures described in the Boeing Fault Isolatoin Manual (FIM) provide...
		<div class="answer">True
		</div></li>
	<li>An AMT must contact MOCC to place a Chapter 20 Deferral on the aircraft if:
		<div class="answer">The aircraft has demonstrated history of repeated failures related to CAT operation
		</div></li>
	<li>When replacing lamps in the Mode Control Panel (MCP):
		<div class="incorrect"><ul><li>An LLM qualified AMT is required for replaceing any lamps</li>
		<li>an LLM qualified AMT is required for replacing any lamps</li></ul>
		</div></li>
	<li>When a non-LLM qualified AMT performs maintenance on LLM components, a Chapter 20 Deferral is required (if the descrepancy is FACTed). The AMT: 
		<div class="answer">Must contact MOCC to plcae a Chapter 20 deferral on the aircraft
		</div></li>
</ol>
</div>

	<div class="bottom">
		<p><a href="https://hanrstudios.com/tests">Back to Tests</a>   |    <a href="https://www.hanrstudios.com">Home</a></p>
	</div>


</body></html>